# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Excel locks and generated reports
~$*.xlsx
Reporte_HACAMS_*.xlsx
facturas.xlsx

# Environments
.env
.venv
venv/
ENV/

# Database
db.sqlite3

# Media
media/

# IDEs
.vscode/
.idea/
.DS_Store
